@html.extend('layout', function(model) { @html.block('content', function(model) {

<div class="widget widget-red">
    <div class="widget-heading">
        <div class="widget-title">
            <span>Important Warning!</span>
        </div>
    </div>
    <div class="widget-body" style="vertical-align: top;">
        <table class="table text-center" style="margin-bottom: 0; vertical-align: middle;">
            <tr>
                <td style="vertical-align: middle;">
                    <i class="fa fa-exclamation-triangle fa-5x alert-warning" style="background: transparent; color: #D49B3A"></i>
                </td>
                <td>Please note, not all BCNM/KSNMs listed here work! <br /></td>
            </tr>
        </table>
    </div>
</div>

<div id="bcnms" class="widget widget-blue" ng-controller="bcnmToolController" data-ng-init="getBcnmList()" ng-cloak>
    <div class="widget-heading">
        <div class="widget-title">
            <span>Lookup A BCNM</span>
        </div>
    </div>
    <div class="widget-body">
        <div class="noresults" ng-show="bcnms.length == 0">
            <span>Sorry, no BCNMs were found.</span>
        </div>
        <div class="list" ng-show="bcnms.length > 0">
            <div class="list-item" ng-repeat="b in bcnms">
                <a ng-href="/db/bcnms/{{b.bcnmid}}/{{b.name}}">{{b.name | cleanNameTitleCase}}</a>
                <span class="bcnm-info">&bull; Lv. Cap - {{b.levelcap | bcnmLevelCap}}</span>
            </div>
        </div>
    </div>
</div>

}) })

@html.append('css', function(model) {
<link rel="stylesheet" href="/public/css/bcnmtool.css" />
})

@html.append('footer-scripts', function(model) {
<script type="text/javascript" src="/public/js/bcnmtool.js"></script>
})
