@html.extend('layout', function (model) { @html.block('content', function (model) {

<div id="chat">
    <div class="widget widget-blue">
        <div class="widget-heading">
            <div class="widget-title">Donations (Website)</div>
        </div>
        <div class="widget-body" style="text-align:center;">
            <br />
            <span style="font-weight: bold; color: red; text-align: center;">
                Before you click anything be sure to read this page thoroughly!
            </span>
            <hr />

            <div style="text-align: left;font-style:italic;color: #CC6300;font-weight:bold;">Want to donate to Teo for his work on the server and its content? <a href="#donatetoteo">Click here!</a></div>
            <br/><br/>

            The Kupo website is provided free of charge by atom0s. 
            This website was coded and designed by atom0s, and is running on top of atom0s' own private web framework named Arcanus.

            The site includes a large amount of various features such as:
            <br/>
            <br/>
            <ul style="text-align:left;">
                <li>Full news listings integrated with phpBB.</li>
                <li>Server status display.</li>
                <li>Who's Online, list of actively playing players with detailed information.</li>
                <li>Full array of useful database tools. (Characters, Items, Monsters, etc.)</li>
                <li>Full login and account panel for managing your own characters.</li>
                <li>Custom unstuck tool to reduce GM needs.</li>
                <li>Various backend GM tools to help manage the server and monitor the server health.</li>
                <li>Fully custom and one-of-a-kind character import tool.</li>
                <li><em>And much more..</em></li>
            </ul>
            
            Everything has been coded from scratch for the Darkstar server software specifically to greatly
            enhance the player experience and build a more interactive community with the player base.

            I have done all of this free of charge, as well as continue to maintain, add new features, and support
            the website since the creation of it for almost 2 years now. That said, I am adding this donation page
            as a means for players to say thanks for the work I have put into the website.

            By donating, you agree to and understand that this DOES NOT include any of the following:
            
            <br/>
            <br/>
            <ul style="text-align:left;">
                <li>You DO NOT get any special items.</li>
                <li>You DO NOT get any special treatment.</li>
                <li>You DO NOT get any special rank/title/permissions/etc.</li>
                <li>You DO NOT get any special kind of anything.</li>
                <li>You DO NOT get anything.</li>
            </ul>

            This donation is specifically to say thanks to atom0s for the website.
            <br/>
            This donation DOES NOT get you anything on the server at all.
            <br/>
            This donation is NOT connected to the server at all and is directly sent to atom0s.

            <hr/>

            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="C4KSPG6FJYH98">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
            
            <hr/>

            <div style="text-align:left;">
                Please note: Donations are not required. This is simply a way for you to say thanks for the website.
                
                <br><br>Donations are not required.
                <br>I will not stop supporting the site because of little or no donations.
                <br><br>
                <em>
                Consistent donations or consistent amounts can lead me to focus more time on the site to bring more/new features
                in the future though. Because I do this for free, it is not a top priority to me as real life endeavors come first.
                But if money is consistent and enough for me to put other projects on hold, I will.
                <br><br>
                But please understand, this does not mean just because you donated, you're entitled to whatever feature you want added.
                </em>
            </div>
        </div>
    </div>
</div>

}) })