<div class="footer-top"></div>
<footer id="footer">
    <div class="container outer">
        <div class="container inner">
            <div class="left">
                <div class="row">
                    <div class="col-sm-12 small">
                        All FFXI content and images © 2002-2016 SQUARE ENIX CO., LTD. FINAL FANTASY is a registered
                        trademark of Square Enix Co., Ltd.
                    </div>
                </div>
            </div>
            <div class="right">
                <small>
                    Powered by arcanus. <br /> Copyright &copy; <a href="#">atom0s</a> 2015 - 2018
                </small>
            </div>
        </div>
    </div>
</footer>